
.icon-home-outline:before { content: '\e800'; } /* '' */
.icon-pen:before { content: '\e801'; } /* '' */
.icon-flash-outline:before { content: '\e802'; } /* '' */
.icon-picture-outline:before { content: '\e803'; } /* '' */
.icon-mail:before { content: '\e804'; } /* '' */
.icon-info-outline:before { content: '\e805'; } /* '' */
.icon-right-open-outline:before { content: '\e806'; } /* '' */
.icon-left-open-outline:before { content: '\e807'; } /* '' */